body{
    background-image: var(--BackGroundColor);
}
h1{
    color: var(--MainColor);
    text-align: center;
    font-size: 6em;
}
button{
    width: 90px;
    height: 40px;
    color: #c7c9c5;
    opacity: 0.4;
}