root{
    --MainColor: #113f8a;
    --BackGroundColor: #c7c9c5;
}
body{
    background-image: url("CasinoPic.PNG");
}
h1{
    text-align: center;
    font-size: 6em;
}
button{
    width: 90px;
    height: 40px;
    color: var(--BackGroundColor);
    opacity: 0.4;
}