<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link  rel="stylesheet" href="../static/CSS/Home.css">
</head>
<body>
    <h1> Home Page </h1>
    <button onclick="toProject()">My Projects</button>
    <button onclick="toAbout()">About Me</button>

<script>
    function toAbout(){
        window.location.href = "http://127.0.0.1:5000/about"
}
    function toProject(){
        window.location.href ="http://127.0.0.1:5000/Projects"
}
</script>
</body>
</html>