<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="../static/CSS/Projects.css">
</head>
<body>
<h1> My Projects </h1>
<button onclick="toHome()">Home</button>
<script>
    function toHome(){
        window.location.href = "http://127.0.0.1:5000/"
}
</script>
<h2>Personal Projects</h2>
<h3>Stat tracker App</h3>
<p1>
    Back in my junior year of high school, for my final project in my AP Computer Science A course I decided to challenge myself and build <br>
    an app. My idea for this was to have an app where you could keep a detailed record of wins and losses on any game you decide and hopefully <br>
    you can see what tends to make yu win/lose and improve how you play a game.  For this I used Flutter by Google, and made it pretty far <br>
    until I realized that it's hard to store things, so every time you restart the app you lose it all! I have since accidentally broken the <br>
    laptop I used for this project and no longer have the code to show for it.
</p1>
<h3>This website</h3>
<p1>
    Surprise! I built this website in case you couldn't tell or I forgot to mention it on my resume. I decided to build this website as I felt <br>
    I couldn't describe or fit some of the projects I enjoyed on resume. Throughout the process of building this website I feel like I have a <br>
    beginners understanding of how a website works and it's been a fun learning experience.
</p1>
<h2>CSE 220: Systems Programming</h2>
<p1>
    My Systems programming class was my first dive into how a computer works at a lower level.
    Throughout this course we start with<br> becoming familiar with the C language and end with some
    advanced projects like thread management and dynamic memory allocators.<br>
    All projects in this class were done entirely in C and my final grade was an A-.
</p1>
<h3>Priority Queues</h3>
<p1>
    The second project was my first real dive into what a pointer is. Before this class I did not know or care what a pointer is,
    but now<br> I understand what it is and some important uses thanks to this project and others. In case you couldn't tell by the name of the<br>
    project, we built a basic priority queue. It had some basic functions like enqueue, dequeue, and insert some basic structures in a linked list using pointers and pointer math.
</p1>
<h3>Dynamic Memory Allocator</h3>
<p1>
    Skipping ahead, my favorite project across all the courses I've taken is a basic dynamic memory allocator. For those who may not know what that is,<br>
    a dynamic memory allocator will ask for memory from the operating system and distribute it to a program as needed. Ours was not advanced and should not be<br>
    used on a large system as it never gave any memory back to the OS for efficiency reasons. But by the time the project was due, we could use it to run some<br>
    basic system commands such as printing files to the terminal.<br>
    I got a 100% on this project and found it very satisfying when I could run commands and they would work correctly.<br>
</p1>
<h2> CSE 250: Data Structures </h2>
<p1>
    This course was my first course in working with data structures and making programs efficient. In this course we do few projects as the intention<br>
    is not to drown us in projects, but more homework with efficiency then test if you can implement those ideas in code.
    By final grade in this course was a B+.
</p1>
<h3>Google Maps</h3>
<p1>
    This was my personal favorite project in this course even though it proved to be rather difficult at times. For this project we were tasked with using<br>
    dijkstra's algorithm to find the fastest route between two intersections in buffalo. We were provided a graph where nodes are intersections and streets are<br>
    the connections between nodes and sent to complete the project. I found this project particularly interesting as it showed a real world application of <br>
    something we were learning in the classroom.
</p1>
</body>
</html>